<% provide(:title, "About") %>
<h1>About</h1>
<div class="well">
	This is an simple app designed by <a href="https://www.facebook.com/profile.php?id=100005438507300">Yang Zhuohan (Bill)</a>, following the tutorial provided by <i><a href="https://www.railstutorial.org/book/frontmatter">RUBY ON RAILS TUTORIAL (3RD ED.)</a></i>.<br>This app is for users to add their tasks to a to-do-list so that they can remember what to do.
 </div>