<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<div class="well">
  Email address: billstark1996@gmail.com.<br>
  QQ number: 624665752<br>
  FaceBook: <a href="https://www.facebook.com/profile.php?id=100005438507300">Yang Zhuohan</a><br>
  
</div>