<% provide(:title, "Help") %>
<h1>Help</h1>
<div class="well">
  <h4>About avatar image</h4><br>Because I am still a new developer for Ruby on Rails, I still do not implement the function that allow users to upload imagesa as avatar. If you want to add an image, please go to <a href="https://en.gravatar.com/">gravatar</a> and use your email address to add avatar picture.<br>
</div>